[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=airvideomeego
Exec=invoker --single-instance --type=d /opt/airvideomeego/bin/airvideomeego
Icon=/usr/share/icons/hicolor/scalable/apps/airvideomeego.svg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
